* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;

  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container > div {
  height: 100%;
}

.container > div:nth-child(1) {
  width: 65%;
}

.container > div:nth-child(2) {
  width: 5%;
}

.container > div:nth-child(3) {
  width: 30%;
}

.memory {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.memory > div {
  width: 100%;
  font-family: monospace;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.registers .cell,
.global .cell {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.cell p {
  padding: 0;
  margin-top: 2px;
  margin-bottom: 2px;
}

.cell .name {
  padding-right: 2px;
  font-family: monospace;
  font-weight: bold;
}

canvas {
  aspect-ratio: 1;
}

.code {
  border: 1px solid black;
  font-family: monospace;
}

.code > div {
  display: inline-block;
}

.code .active {
  background-color: #b3b3b3;
}
