* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 12px;
  overflow-y: hidden;
  overflow-x: hidden;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;

  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-left: 2vw;
  padding-right: 2vw;
}

.container > div {
  height: 100%;
  border-right: 1px solid black;
  padding: 10px;
  overflow-y: scroll;
}

.container > div:nth-child(1) {
  width: 65%;
}

.container > div:nth-child(2) {
  width: 10%;
}

.container > div:nth-child(3) {
  width: 25%;
}

.predictor,
.history,
.prediction,
.accuracy,
.bht {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-family: monospace;
}

.predictor {
  flex-wrap: wrap;
}

.controls {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.controls button {
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 2px;
  margin-right: 2px;
}

.controls .group {
  margin-top: 5px;
  margin-bottom: 5px;
}

input[type="file"] {
  display: none;
}

input[type="number"] {
  width: 50px;
}

input[type="range"] {
  vertical-align: middle;
}

.predictor > div {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.name {
  font-weight: bold;
  padding-left: 2px;
  padding-right: 2px;
}

.active {
  background-color: #b3b3b3;
}

.memory {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.memory > div {
  width: 100%;
  font-family: monospace;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.registers .cell,
.global .cell {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.cell p {
  padding: 0;
  margin-top: 2px;
  margin-bottom: 2px;
}

.code {
  overflow-y: scroll;
  font-family: monospace;
}

.code > div {
  display: inline-block;
}

.footer {
  position: absolute;
  bottom: 0.5vh;
  left: 0.5vw;
  font-size: 20px;
  font-family: monospace;
}

a,
a:active {
  color: black;
}

a:visited {
  color: rgb(42, 42, 42);
}
